.add-book-form {
  padding: 15px;
  border: 1px solid #ddd;
  width: 400px;
  border-radius: 3px;
  display: none;
  margin: 30px auto;
  &__row {
    margin-bottom: 15px;
  }

  &__label {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: $link-color;
  }
  &__input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    display: block;
    border: 1px solid #ddd;
    margin: 0;
    font-size: 12px;
    border-radius: 3px;
  }

  &__button {
    border: none;
    padding: 5px 10px;
    background-color: $link-color;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: lighten($link-color, 5%);
    }

    &_cancel {
      position: relative;
      color: $link-color;
      background-color: #fff;
      text-decoration: none;
      font-size: 12px;
      margin-left: 5px;
      font-weight: bold;
    }
    &_remove {
      float: right;
      position: relative;
      top: 4px;
      color: $link-color;
      background-color: #fff;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
    }

  }
}