.col {
  box-sizing: border-box;
  width: 240px;
  float: left;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}



.book {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  height: 300px;
  &:hover {
    background-color: #f6f6f6;
  }
  &_form {
    &:hover {
      background-color: $bg-color;
    }
  }
  &__tag-item {
    margin-left: 5px;
    color: $link-color;
    font-size: 12px;
    font-weight: bold;
    &:first-child {
      margin-left: 0;
    }
  }



  &__actions {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  &__action-button {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
  }

  &__info {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

  &__info-label {
    font-size: 12px;
    font-weight: bold;
  }
  &__info-text {
    font-size: 12px;
  }


}

